nav {
    display: flex;
    justify-content: space-between;
    background-color: grey; 
    padding: 10px;
}

nav a  {
    color: white;
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    border-style: solid;
    background-color: black;
    color: white;
}